.personalInfromations-Main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
}
.personalInformation-image {
  width: 100%;
}

.personalInformation-send {
    width: 10vw;
    border-radius: 10px;
    margin-bottom: 50px;
    background-color: #151d42;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(132, 98, 98, 0.3);
  }
  .personalInformation-color-icon {
    color: whitesmoke;
  }
  
  .personalInformation-send:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: #313857;
  }

  .informations-text{

    justify-content: center;
    text-align: center;
    padding: 20px;
  }
  .personalInformation-Image{

    border: solid 1px black;
  }

  .personalInformation-Title{

    background-color: #151d42;
    color: white;
   
  }
