.texts-main{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: aqua;
    border: rgb(12, 12, 10) solid 1px;
    flex-direction: column;
    
}
.text-page-title{

    background-color: #151d42;
    color: white;
   
   
}

.cols{
    background-color: rgba(218, 236, 165, 0.505);
    border: solid 2px rgb(34, 31, 31);
  
}
.titles{

    background-color: rgb(63, 103, 87);
   
}
.edit-btn{

    background-color: #151d4230;
    color: aliceblue;
    border-radius: 10px;
    border: solid 1px;
    width: 100%;
}


   