.profile-Image {
  border-bottom: 2px solid #c4a0a1;
  margin-left: 50%;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 10%;
  width: 100%;
  max-width: 350px;
  height: auto;
}

@media (max-width: 600px) {
  .profile-Image {
    margin-left: 0;
    width: 150%;
    margin-bottom: 7%;
  }

  .image-container {
    width: 95%;
    height: auto;
    border-radius: 70% 0 90% 5%;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .profile-Image {
    margin-left: 25%;
    width: 100%;
  }

  .image-container {
    width: 90%;
    height: 65%;
    border-radius: 65% 0 85% 4%;
  }
}

@media (min-width: 1025px) {
  .profile-Image {
    margin-left: 50%;
    max-width: 350px;
  }

  .image-container {
    width: 85%;
    height: 75%;
    border-radius: 65% 0 85% 5%;
  }
}

.image-container {
  background-color: #c4a0a1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  border: 2px solid #c4a0a1;
  border-radius: 60% 0 80% 3%;
  width: 80%;
}

.profile-Image:hover {
  transform: scale(1.1);
}
