

.main {
  margin: 0;
  padding: 0;

 
  display: flex;
  justify-content: center;

  flex-direction: column;
   font-family: "Edu VIC WA NT Beginner", cursive;

   background: linear-gradient(
    to bottom,
    #ffffff,
    #e0e0e0
  ); 
  
}

.logo{
  height: 100px;
}
