.main {
  margin: 0;
  padding: 0;

  background: linear-gradient(
    to bottom,
    #ffffff,
    #e0e0e0
  ); /* تدرج لوني من اليمين إلى اليسار */
  display: flex;
  justify-content: center;

  flex-direction: column;
  font-family: "Edu VIC WA NT Beginner", cursive;
}
